# Created by .ignore support plugin (hsz.mobi)
*.iml
.gradle
.idea
.iml
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild